@{
    Layout = null;
    ///Ez az oldal fogja előhívni azokat az oldalakt
    ///amik ehez kapcsolódnak
}
<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=1,initial-scale=1,user-scalable=1" />
    <title>@ViewData["Title"]</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Login.css">




</head>
<body>
    <!-- Ez a rész fogja a bejelentkező és a regisztráció
        felületet lefuttatni, ebben fog minden szükséges adat meghívódni-->
    <section class="container">
        <section class="login-form">
            @RenderBody();
        </section>
    </section>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
@await RenderSectionAsync("Scripts", required: false)
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}