@*
    Ha az illető nem admin, és jogosulaltan hozzáférés lépett fál egyes oldalaknál,
    akkor erre az oldalra irűnyítja át a webszerver
*@
@{
    Layout = null;
    <h2>Nincs Jogosultságod az adatok eléréséhez. <br /> Csak Admin felhasználóval éred el az adatbázist</h2>
}
