@using Microsoft.AspNetCore.Identity
@using Projekt.Areas.Identity.Data
@inject SignInManager<ProjektUser> SignInManager
@inject UserManager<ProjektUser> UserManager

@{
    var profil = await UserManager.GetUserAsync(User);
}
@*Üdvözlő szöveg: bejelentkezés ellenőrzése*@
@if (SignInManager.IsSignedIn(User))
{



    <p>Szia <a style="font-weight:600;text-transform:uppercase;" asp-area="Identity" asp-page="/Account/Manage/Index" class="text-white" title="Profil megjelenítése">  <br />@profil.Keresztnév!</a> </p>

    @*<form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Account/Login", new { area = "Identity" })">
            <button id="logout" type="submit" class=" btn btn-link">Kilépés</button>
        </form>*@
}
else
{

    <p>Üdvözöljük <span>a weboldalon!</span></p>

}
