@using Microsoft.AspNetCore.Identity
@using Projekt.Areas.Identity.Data
@inject SignInManager<ProjektUser> SignInManager
@inject UserManager<ProjektUser> UserManager

@*
    Ez azt figyeli, hogy ha a felhasználó bejelentkezett e:
    ez esetben a navigációs sáv a profil füllel bővül a lábjegyzetben
*@
@if (SignInManager.IsSignedIn(User))
{


    <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" class="text-white" title="Profil megjelenítése"><br />Profil</a></li>
    <li><a class="hidden-xs">~</a></li>
}
